* text=auto eol=lf

*.blade.php linguist-language=Blade
*.php linguist-language=PHP
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.html linguist-language=HTML

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
